# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# User-specific files
.vscode/*
*.code-workspace
*.idea/

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs and databases
*.log
*.sqlite
*.db

# Audio folders (exclude from version control)
Audio-Input/
Audio-Output/
Dialogs/
output/

# Exclude generated transcription files
Transcribes/
*.txt

# OS specific files
.DS_Store
Thumbs.db
